@media screen {
  .sideNav {
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    height: 100%;
    display: flex;
    right: -1000px;
    position: fixed;
    min-width: fit-content;
    flex-direction: column;
    transition: right 0.8s ease;
    justify-content: space-between;
    box-shadow: var(--background-shadow);
    background-color: var(--background-color);
  }

  .sideSlide {
    right: 0;
  }

  .cartNav {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }

  .cartNav h1 {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .backIcon {
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  .cartIcon {
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  .cartContent {
    gap: 10px;
    height: 100%;
    display: flex;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 100%;
    flex-direction: column;
  }

  .cartEmpty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cartEmpty h1 {
    font-size: 1rem;
    text-transform: capitalize;
  }

  .cartCard {
    gap: 10px;
    display:flex;
    padding: 10px;
    position: relative;
    align-items: center;
    box-shadow: var(--cart-line-shadow);
  }

  .cartImg {
    width: 150px;
    height: 150px;
  }

  .cartContainInfo {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .cartContainInfo h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  .cartModify {
    gap: 10px;
    display: flex;
  }

  .cartModifyContain {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    box-shadow: var(--background-shadow);

  }

  .cardDelete {
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }

  .cartFooter {
    gap: 20px;
    display: flex;
    padding: 20px 10px;
    text-align: center;
    flex-direction: column;
    background-color: var(--background-light);
  }

  .cartFooterItem {
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cartItem h1 {
    font-size: 1rem;
    font-weight: 300;

  }

  .cartItem h2 {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    gap: 10px;
  }

  .cartItem:last-child h1 {
    font-weight: bold;
  }

  .cartItem:last-child h2 {
    font-weight: bold;
  }

  .checkOutBtn {
    gap: 4px;
    display: flex;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }

  .checkOutBtn:hover {
    background-color: var(--tertiary-light);
  }

  .cartFooter span {
    cursor: pointer;
    text-decoration: underline;
    
  }


}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .sideNav {
    width: 30%;
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
