@media screen {
 .cookieContainer {
  width: 100%;
  display: flex;
  z-index: 9999;
  align-items: center;
  background-color: var(--background-color);
 }

 .cookieContainer h1 {
  color: var();
 }
  }


/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
 

}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {

}

/* 5k screens and above */
@media only screen and (min-width: 91em) {

  
}
